<table class="table table-striped">
<p>
 <h1> <arttitle>
  <%= @article.title %>
	</arttitle></h1>
</p>

<p>
   <blockquote>
  <%= @article.text %>
  </blockquote>
  <%= @article.autor %>
</p>
</table>